@forward 'strip-unit';
@forward 'string-replace';
@forward 'rem';
@forward 'deep-get';
@forward 'media-query';
@forward 'acceleration';
@forward 'column-width';
@forward 'font-face';
@forward 'font-smoothing';
@forward 'user-select';
@forward 'disable';
@forward 'object-fit';
@forward 'transition';
@forward 'scrollbar';
@forward 'size';
@forward 'sizing';
@forward 'color-scheme';
@forward 'selection';
