@use '@styles/settings' as *;
@use './Form-vars' as *;
@use './Form-extends' as *;

.form {
  &__label {
    display: block;
    width: 100%;

    @include mq-hover {
      cursor: pointer;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border-style: solid;
    appearance: none;

    @extend %type-input;
    @include user-select(disable);
    @include sizing('border-width', size(.25));
    @include sizing('padding', size(4));

    &.is-primary {
      background-color: deep-get($inputs, primary, bg);
      border-color: deep-get($inputs, primary, border);
      color: deep-get($inputs, primary, color);

      &::placeholder {
        color: deep-get($inputs, primary, placeholder);
      }

      &:focus {
        border-color: deep-get($inputs, primary, hover, border);
      }

      @include mq-hover {
        &:hover {
          border-color: deep-get($inputs, primary, hover, border);
        }
      }

      &.has-error {
        border-color: deep-get($inputs, primary, error, border);
      }
    }

    &.is-textarea {
      overflow: auto;
      resize: vertical;

      @include sizing('min-height', size(50));
    }

    &::placeholder {
      @extend %type-input;
      @include transition('color');
    }

    @include mq-hover {
      cursor: pointer;

      @include transition('color, background-color, border-color');
    }

    &:disabled {
      opacity: .5;

      @include disable(true);
    }
  }

  &__select {
    display: block;
    position: relative;
    width: 100%;

    @include mq-hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      transform: translateY(-35%);

      @include disable(true);
      @include sizing('right', size(6));
      @include sizing('border-top-width', size(3));
      @include sizing('border-right-width', size(2.5));
      @include sizing('border-left-width', size(2.5));
    }

    &.is-primary::before {
      border-top-color: deep-get($inputs, primary, select, arrow);
    }

    &.has-error::before {
      border-top-color: deep-get($inputs, primary, select, error);
    }
  }

  &__radio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include sizing('gap', size(2));
  }

  &__checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @include sizing('gap', size(2));
  }
}
