@use '@styles/settings' as *;

.hero {
  position: relative;
  max-width: 100%;
  height: vars(vh, half);
  overflow: hidden;

  &__title {
    position: relative;
    z-index: vars(z-index, med);
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: vars(z-index, none);
    width: 100%;
    height: 100%;
  }
}
