@use '@styles/settings' as *;

.grid {
  display: grid;
  width: 100%;
  overflow: hidden;

  @extend %height;
  @extend %bg;
  @extend %border;

  &__item {
    min-height: 100%;

    @extend %bg;
    @extend %border;
  }
}
