@use '@styles/settings' as *;

$type: (
  headings: (
    font-size: (
      h6: 30px,
      h5: 40px,
      h4: 50px,
      h3: 60px,
      h2: 70px,
      h1: 80px
    ),
    line-height: (
      h6: 35px,
      h5: 45px,
      h4: 55px,
      h3: 65px,
      h2: 75px,
      h1: 85px
    )
  ),
  body: (
    font-size: (
      sml: 14px,
      med: 18px,
      lrg: 20px,
      xlrg: 24px,
      xxlrg: 28px
    ),
    line-height: (
      sml: 18px,
      med: 22px,
      lrg: 24px,
      xlrg: 28px,
      xxlrg: 32px
    )
  )
);
